{% extends "base_content.html" %}

{% block title %}{% spaceless %}
    PAGE TITLE INDEX
{% endspaceless %}{% endblock %}

{% block roofclass %}index{% endblock %}

{% block content %}

    <div class="selected-tags">
        <h1>Или прегледайте въпросите по избрани тагове:</h1>
        <div>
            <a href="tags/ddd">образование</a>
            <a href="tags/ddd">данъци</a>
            <a href="tags/ddd">право</a>
            <a href="tags/ddd">закони</a>
            <a href="tags/ddd">бизнес</a>
            <a href="tags/ddd">помощи</a>
            <a href="tags/ddd">работа</a>
            <a href="tags/ddd">заплата</a>
            <a href="tags/ddd">осигуровки</a>
            <a href="tags/ddd">финанси</a>
            <a href="tags/ddd">транспорт</a>
            <a href="tags/ddd">права</a>
            <a href="tags/ddd">задължения</a>
            <a href="tags/ddd">администрация</a>
            <a href="tags/ddd">полиция</a>
            <a href="tags/ddd">протести</a>
            <a href="tags/ddd">европа</a>
            <a href="tags/ddd">пари</a>
            <a href="tags/ddd">юридически лица</a>
            <a href="tags/ddd">сделки</a>
        </div>
    </div>

    <div class="selected-articles">
        <div>
            <div class="header">
                <h2>Образование</h2>
                <p class="description">Lorem lisum dolor sit ement, numer li.</p>
            </div>
            <ul>
                {% for question in first_row %}
                    <li><a href="{{ question.get_absolute_url }}">{{ question.headline }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <div class="header">
                <h2>Дом</h2>
                <p class="description">Lorem lisum dolor li poerta de fuela.</p>
            </div>
            <ul>
                {% for question in second_row %}
                    <li><a href="{{ question.get_absolute_url }}">{{ question.headline }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <div class="header">
                <h2>Транспорт</h2>
                <p class="description">Lorem lisum de fuela.</p>
            </div>
            <ul>
                {% for question in third_row %}
                    <li><a href="{{ question.get_absolute_url }}">{{ question.headline }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="clear"></div>

{% endblock %}