{% extends "base_content.html" %}

{% block title %}{% spaceless %}
    Как, къде и кога ... в България?
{% endspaceless %}{% endblock %}

{% block roofclass %}index{% endblock %}

{% block content %}

    <div class="selected-tags">
        <h1>Или прегледайте въпросите по избрани тагове:</h1>
        <div>
            <a href="tags/работа">работа</a>
            <a href="tags/деца">деца</a>
            <a href="tags/образование">образование</a>
            <a href="tags/данъци">данъци</a>
            <a href="tags/европейски-проекти">европейски-проекти</a>
            <a href="tags/здравни">здраве</a>
            <a href="tags/измама">измами</a>
            <a href="tags/кариера">кариера</a>
            <a href="tags/кола">коли</a>
            <a href="tags/курсове">курсове</a>
            <a href="tags/куче">кучета</a>
            <a href="tags/община">община</a>
            <a href="tags/осигуровки">осигуровки</a>
            <a href="tags/родители">родители</a>
            <a href="tags/училище">училище</a>
            <a href="tags/финансиране">финансиране</a>
            <a href="tags/чужди-езици">чужди-езици</a>
        </div>
    </div>

    <div class="selected-articles clearfix">
        <div>
            <div class="header">
                <h2>Образование</h2>
                <p class="description">Въпроси свързани с образование ...</p>
            </div>
            <ul>
                {% for question in first_row %}
                    <li><a href="{{ question.get_absolute_url }}">{{ question.headline }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <div class="header">
                <h2>Дом</h2>
                <p class="description">Проблеми свързани с дома.</p>
            </div>
            <ul>
                {% for question in second_row %}
                    <li><a href="{{ question.get_absolute_url }}">{{ question.headline }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <div class="header">
                <h2>Транспорт</h2>
                <p class="description">Автобуси, Трамваи, Метро ...</p>
            </div>
            <ul>
                {% for question in third_row %}
                    <li><a href="{{ question.get_absolute_url }}">{{ question.headline }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="clear"></div>

{% endblock %}