{% spaceless %}
{% load i18n extra_tags %}
<h3 class="subtitle">{% trans "Follow this question" %} </h3>
<strong class="subscription-type">{% trans "By Email" %}:</strong>
{% if request.user.is_authenticated %}
    <div>
        <span class="subscription-status">
            {% if subscription %}
                {% if subscription.auto_subscription %}
                    {% trans "You were automatically subscribed to this question." %}
                {% else %}
                    {% trans "You are subscribed to this question." %}
                {% endif %}
            {% else %}
                {% trans "You are not subscribed to this question." %}
            {% endif %}
        </span> - <a class="ajax-command subscription_switch" href="{% url subscribe_simple id=question.id %}">
                {% if subscription %}
                    {% trans "unsubscribe me" %}
                {% else %}
                    {% trans "subscribe me" %}
                {% endif %}
        </a>

    </div>
    <p><a class="ajax-command sidebar_button subscription_switch" href="{% url "subscribe_simple" id=question.id %}">
        {% if subscription %}
            {% trans "unsubscribe me" %}
        {% else %}
            {% trans "subscribe me" %}
        {% endif %}
    </a></p>
    <p>
        {% blocktrans with request.user.get_user_subscriptions_url as subscriptions_url %}
            (you can adjust your notification settings on your <a href="{{ subscriptions_url }}">profile</a>)
        {% endblocktrans %}
    </p>
{% else %}
    <p>{% trans "Once you sign in you will be able to subscribe for any updates here" %}</p>
{% endif %}
<strong class="subscription-type">{% trans "By RSS" %}:</strong>
<p>
    <a class="feed-icon"
        href="{{ question.get_absolute_url }}?type=rss" title="{% trans "subscribe to answers" %}"></a>
    {% trans "Answers" %}
</p>
<p>
    <a class="feed-icon"
        href="{{ question.get_absolute_url }}?type=rss&comments=yes" title="{% trans "subscribe to comments and answers" %}"></a>
    {% trans "Answers and Comments" %}
</p>
{% if request.user.is_authenticated %}
        <p>
            <span class="subscription-actions">
            {% blocktrans with request.user.get_user_subscriptions_url as subscriptions_url %}
                (you can adjust your notification settings on your <a href="{{ subscriptions_url }}">profile</a>)
            {% endblocktrans %}</span>
        </p>
{% endif %}
{% endspaceless %}

